/* body{
    display: grid;
} */
main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));;
    grid-template-rows: repeat(auto-fit,minmax(50%,1fr));
    margin-top: 10%;
    align-items: center;
    justify-items: center;
}

.tdsbotao{
    width: 199px;
    height: 35.55px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
}

.btsection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}   

.doisbotao{
    width: 150px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
    margin-inline: 4%;
    height: 35px;
}

.skipbts{
    width: 459px;
    height: 36px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
}
@media screen and (min-width: 1200px) {
    main{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        margin-top: 5%;
        align-items: center;
        justify-items: center;
    }
}