/* body{
    display: grid;
} */
main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));;
    grid-template-rows: repeat(auto-fit,minmax(50%,1fr));
    margin-top: 10%;
    align-items: center;
    justify-items: center;
}

.tdsbotao{
    width: 199px;
    height: 35.55px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
}

.btsection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 2%;
}   

.doisbotao{
    width: 150px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
    margin-inline: 4%;
    height: 35px;
}

.skipbts{
    width: 100%;
    height: 36px;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
    margin-bottom: 5%;
}

.hoverin:hover{
    background-color: #FFFF7D;
    color: #000000;
    opacity: 1s;
}

.legent{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}
.setinha{
    background-image: url(/img/setinha.svg);
    background-repeat: no-repeat;
    background-position: 2% 60%;
}

#selectinvest{
    box-sizing: border-box;
    padding: 2px 0px 0px 30px;
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

@media screen and (min-width: 1200px) {
    main{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        margin-top: 13%;
        align-items: center;
        justify-items: center;
    }
}