.imgmark{
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}
.secondsect{
    width: 70%;
    display: flex;
    flex-flow: column;
    height: 110%;
}

input[type="checkbox"]{
    width: 13.82px;
    height: 13.82px;
    background: rgba(62, 178, 94, 0.3);
    appearance: none;
 }

input[type="checkbox"]:checked{
    background: #3EB25E;
}

@media screen and (min-width: 768px) {
    .legent{
        font-size: 26px;
        line-height: 30px;
    }
    .legentcenter{
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }
    .alinhar{
        line-height: 30px;
    }
    input[type="checkbox"]{    
        width: 26px;
        height: 26px;
     }
}
    

@media screen and (min-width: 1200px) {
    .secondsect{
        height: 118%;
    }
}