.imgmark{
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}
.secondsect{
    width: 70%;
    display: flex;
    flex-flow: column;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    height: 115%;
}

.sectcheckbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

#typeaccout{
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    width: 459px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.doisbotaoaccount{
    width: 45%;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
    height: 35px;
}
.alinhar{
    display: flex;
}
input[type="checkbox"]{
    width: 15px;
    height: 13px;
    background: rgba(62, 178, 94, 0.3);
    appearance: none;
    border: 1px solid #0000007a;
 }

input[type="checkbox"]:checked{
    background: #3EB25E;
}

@media screen and (min-width: 485px) {
    .secondsect{
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    main{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        margin-top: 13%;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .secondsect{
        height: auto;
    }
}