.imgmark{
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}

#financial{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
#textfinan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.secondsect{
    width: 70%;
    display: flex;
    flex-flow: column;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}


@media screen and (min-width: 767px) {
    main{
        margin-top: 5%;
    }
    .secondsect{
        width: 55%;
        display: flex;
        flex-flow: column;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        color: #000000;
    }
}

@media screen and (min-width: 1200px) {
    
    main{
        margin-top: 13%;
    }
    #financial{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 39px;
        line-height: 46px;
        text-align: center;
    }
    #textfinan{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
    }
    .secondsect{
        width: 70%;
        display: flex;
        flex-flow: column;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        color: #000000;
    }
}