.imgall{
    display: flex;
    justify-content: center;
}
.imglo{
    width: 60%;
    max-width: 700px;
    padding: 5px 50px 0 0;
}

.secondsect{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#welcome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 62px;
    text-align: center;
    color: #000000;
    margin-bottom: 1%;
}
#poll{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 4%;

    color: #000000;
}

@media screen and (min-width: 767px) {
        #welcome{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            text-align: center;
            color: #000000;
        }
        #poll{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            text-align: center;
            margin-bottom: 3%;
            color: #000000;
        }
    
}