.imgindex{
    /* inline-size: 13rem;
    margin-left: 3%;
    inline-size: 68%; */
    padding: 10%;
}

.homesect{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4%;
}


@media screen and (min-width: 767px) {
    .homesect{
        display: flex;
        flex-direction: column;
        margin-bottom: 16%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #welcome{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 111px;
        line-height: 130px;
        text-align: center;
        color: #000000;
        margin-bottom: 5%;
    }
    #poll{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 15%;

        color: #000000;
    }
};
    
