.imgall{
    display: flex;
    justify-content: center;
}
.imglo{
    width: 60%;
    max-width: 700px;
    padding: 5px 50px 0 0;
}

.secondsect{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#welcome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 62px;
    text-align: center;
    color: #000000;
    margin-bottom: 1%;
}
#poll{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 4%;

    color: #000000;
}

@media screen and (min-width: 768px) {
        #welcome{
            font-size: 111px;
            line-height: 130px;
        }
        #poll{
            font-size: 29px;
            line-height: 34px;
        }
}

@media screen and (min-width: 1024px) {
    .imglo {
    width: 90%;
    padding: 10% 0 0 0;
    }
    .imglo {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 5%;
    }
    .secondsect {
        margin: 0px 30% 15% 0%;
    }
    .imglo {
        width: 90%;
        padding: 10% 0 0 0;
    }
}