.imgmark{
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}
.secondsect{
    width: 70%;
    display: flex;
    flex-flow: column;

}

.laberTitulo{
    display: flex;
}

.label-standard{
    width: 100%;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.loginbotao{
    width: 100%;
    background: #3EB25E;
    border-radius: 35px;
    color: #ffffff;
    height: 35px;
    border: none;
}

.legentlogin{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 5%;
}


@media screen and (min-width: 768px) {
    
    .legentlogin{
        font-size: 26px;
        line-height: 30px;
        margin: 2% 5%;
    }
}
