.imgmark{
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}
.secondsect{
    width: 70%;
    display: flex;
    flex-flow: column;
    height: 110%;
}

#h1at{
    margin-top: 0%;
}

input[type="radio"]{
    width: 15px;
    height: 15px;
    background: rgba(62, 178, 94, 0.3);
    appearance: none;
    border: #000000;
    border-radius: 50%;
 }

input[type="radio"]:checked{
    background: #3EB25E;
}

#financial{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
#textfinan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

textarea{
    border-radius: 24px;
    width: 100%;
    height: 131px;
}

@media screen and (min-width: 767px) {
    main{
        margin-top: 5%;
    }
    .imgmark{
        width: 80%;
        margin-left: 10%;
    }
    input[type="radio"]{
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    main{
        margin-top: 13%;
    }
    .secondsect {
        height: 120%;
    }
    #financial{
        font-size: 39px;
        line-height: 46px;
    }
    #textfinan{
        font-size: 28px;
        line-height: 33px;

    }
    .doisbotao{
            width: 199px;
            height: 35.55px;
            background: #3EB25E;
            border-radius: 35px;
            color: #ffffff;
    }  
}